#For working with .mha images
SimpleITK

#Base
numpy
cupy-cuda11x
natsort
scikit-learn
scikit-image
tqdm
opencv-python
albumentations
tensorboard 
matplotlib 

#Tensorflow
Tensorflow
keras

#Torch
#uncomment version you don't want installed, default GPU
#gpu, adjust cuda as needed
torch 
torchvision 
#cpu 
#--find-links https://download.pytorch.org/whl/torch_stable.html
#torch==2.3.0+cpu
#torchvision==0.18.0+cpu
