numpy
matplotlib
natsort
SimpleITK
scikit-learn
tensorboard 
#uncomment version you don't want installed, default GPU
#gpu, adjust cuda as needed
torch 
torchvision 
#cpu 
#--find-links https://download.pytorch.org/whl/torch_stable.html
#torch==2.3.0+cpu
#torchvision==0.18.0+cpu
